#container {
  transform: scale(1.05);
  height: 900px;
  clear: right;
  text-align: right;
  float: right;
}

body {
  overflow: hidden;
  background-color: rgb(18,151,177)
}

/* #main_image {
  width: 100%;
  height: 100%;
} */

#overlay_image {
  bottom: 20px;
  right: 300px;
  width: 200px;
  height: 200px;
}


/*#bottom{
    background-image: url(static/img/pokearth.png);
    position: relative;
    width: 850;
    height: 850;}
#top{
    background-image: url(static/img/location1.jpeg);
    position: absolute;
    width: 20px;
    height: 300px;
    left: 200px;
    right: 200px;}*/
