<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PokeGuessr</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="{{ url_for('static', filename='/css/fontAwesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/fontPokemon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/fontPokemonSolid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/OverlayMenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/light-box.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/templatemo-style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
    <audio autoplay>
      <!-- <source src="horse.ogg" type="audio/ogg"> -->
      <source src="static/media/Sounds.mp3" type="audio/mpeg">
    <!-- Your browser does not support the audio element. -->
    </audio>

    <nav>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <!-- </div> -->
    <div style="z-index:2; position: fixed;">
      <button onclick="location.href='index.html'", style="border:1px solid black; background-color: transparent; color: white; padding: 3600px  1600px;">Click anywhere to begin!</button>
    </div>


    <div style="z-index:1; position: fixed;", id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>Poke<em>Guessr</em></h1>
              <p>Press to Start!</p>
            </div>
        </div>
        <video autoplay="" loop="" muted>
          <source src="static/media/Scenic.mp4" type="video/mp4" />
        </video>
    </div>


      <!-- Modal button -->
    <!-- <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
    </div>   -->

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Highway</em></h3>
          <div class="close-btn"><img src="static/img/close_contact.png" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                      </fieldset>
                    </div>
                    <!-- <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div> -->
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="index.html">Leaderboards</a>
                  </li>
                  <li>
                      <a href="masonry.html">Statistics</a>
                  </li>
<!--                   <li>
                      <a href="grid.html">Home - Small-width</a>
                  </li> -->
                  <li>
                      <a href="about.html">About Us</a>
                  </li>
                  <!-- <li>
                      <a href="blog.html">Blog Entries</a>
                  </li>
                  <li>
                      <a href="single-post.html">Single Post</a>
                  </li> -->
              </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/8.3.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/8.3.3/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
</body>
</html>
